# virtual environment
backend/venv/

# Python bytecode files
__pycache__/
*.pyc
*.pyo

# VSCode-specific files (inside backend/)
backend/.vscode

# macOS system files
backend/.DS_Store

# Django-specific files
*.log
*.sqlite3
*.db
*.pot
*.pyc

# Don't commit collected static files
backend/campusbuggy/staticfiles/

# Node.js
**/package-lock.json